.navbarcontainer {
  background-color: #ababab;
  justify-content: left;
}

.flexExpand {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
}

::ng-deep .mat-menu-content {
  background-color: #8f8f8f !important;
}

.button {
  padding-left: 2rem;
  padding-right: 2rem;
}

mat-icon{
  padding-bottom: 3px
}