<mat-toolbar class="navbarcontainer">
  <button mat-button [matMenuTriggerFor]="menu1">
    <mat-icon>view_list</mat-icon>
    Menu
  </button>
  <mat-menu #menu1="matMenu">
    <button mat-menu-item>Lorem Ipsum</button>
    <button mat-menu-item>Lorem Ipsum</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="menuContato">
    <mat-icon>mail</mat-icon>
    Contato
  </button>
  <mat-menu #menuContato="matMenu">
    <button mat-menu-item><a href="https://discord.gg/UQ87Mf" target="_blank">Discord</a></button>
    <button mat-menu-item>Lorem Ipsum</button>
  </mat-menu>

  <span class="flexExpand"></span>

  <app-search-bar (pesquisar)="onPesquisar($event)"></app-search-bar>
</mat-toolbar>
