<div class="footercontainer">
    <mat-toolbar-row class="footeritems">
        <span class="nada"></span>
        <mat-icon class="icon">copyright</mat-icon>
        <span class="gamesource">2019 - Game Source</span>
    </mat-toolbar-row>
</div>

