<form [formGroup]="oForm">
  <mat-form-field floatLabel="never">
    <input matInput #edtFomPesquisaHTML formControlName="edtFomPesquisa" placeholder="Pesquisar">
  </mat-form-field>
  <button mat-icon-button aria-label="Pesquisar" (click)="onPesquisar()">
    <mat-icon>search</mat-icon>
  </button>
</form>
